a {
    font-size: 20px;
    text-decoration: none;
}

a:hover, h1:hover {
    background-color: yellow;
}

a:visited, h1:hover {
    color: purple;
}

input:hover, textarea:hover {
    background: blueviolet;
}

input:focus, textarea:focus {
    background-color: yellowgreen;
}

meuslinks, li:first-child a{
    background: red;
    color: white;
}

/*meuslinks, li:first-child {
    background: red;
}*/